// variables
$background-color: #f8f8f8;
$theme-color: #07b0b8;
$safe-bottom: constant(safe-area-inset-bottom);
$safe-bottom: env(safe-area-inset-bottom);

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 15px;
$font-size-pro: 17px;
$font-size-xp: 19px;
$font-weight-bold: 500;
$line-height-xs: 14px;
$line-height-sm: 18px;
$line-height-md: 20px;
$line-height-lg: 22px;
$line-height-xl: 24px;
$line-height-pro: 28px;
$line-height-xp: 30px;
$base-font-family: PingFangSC-Regular, PingFang SC;;
$price-integer-font-family: PingFangSC-Regular, PingFang SC;;


// Color Palette
$black: #000;
$white: #fff;
$color-title: #222222;
$color-info: #505050;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$gray-9: #888888;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;
$green1:#4fc08d;
// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// Padding
$padding-base: 2px;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 5;
$padding-xl: $padding-base * 6;
$padding-p: $padding-base * 7;
$padding-xp: $padding-base * 8;
$padding-xxp: $padding-base * 10;

// margin
$margin-base: 2px;
$margin-xs: $margin-base * 2;
$margin-sm: $margin-base * 3;
$margin-md: $margin-base * 4;
$margin-lg: $margin-base * 5;
$margin-xl: $margin-base * 6;
$margin-p: $margin-base * 7;
$margin-xp: $margin-base * 8;

//radius
$radius-base: 2px;
$radius-xs: $radius-base * 2;
$radius-sm: $radius-base * 3;
$radius-md: $radius-base * 4;
$radius-lg: $radius-base * 5;
$radius-xl: $radius-base * 6;
